.cardContainer:hover > .delete {
  visibility: visible;
}

.cardContainer:hover {
  transition: 0.5s ease, padding 0.8s linear;
  background-color: #e5e5e5 !important;
}

.cardContainer {
  width: 100%;
  border: none !important;
}

.cardBody {
  text-align: "center";
  justify-content: center;
  border-radius: "5px";
}

.pointContainer {
  display: inline;
  align-self: center;
  justify-content: center;
  width: 100px !important;
  height: 100px !important;
  text-align: center;
  justify-content: center;
  border: 1px solid gray;
  align-items: center;
  background-color: #efefef;
  border-radius: 5px;
}

.cardContent {
  white-space: nowrap;
  text-align: left;
}

.vote {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.vote:hover {
  transition: 0.2s ease, padding 0.8s linear;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
}

.delete {
  background-color: transparent;
  border: none;
  position: absolute;
  align-self: flex-end;
  margin: -18px;
  justify-content: center;
  cursor: pointer;
  visibility: hidden;
  transition: visibility 0.1s ease;
}
