.pagination {
  margin-top: 20px;
  margin-left: 150px;
  font-weight: bold;
  font-size: 23px;
  display: flex;
  list-style: none;
  outline: none;
}

.pagination > .active > a {
  background-color: white;
  color: black;
  border: 1px solid gray;
}

.pagination > li > a {
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
